/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  font-size: 16px;
  background: white;
}

.App {
  min-height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  background: white;
  z-index: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 702px) {

  .App {

    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}


@media screen and (min-width: 1440px) {


  .App {

    max-width: 90rem;
    margin: 0 auto;
  }
  
}